.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  font-family: monospace;
  height: 40vmin;
  pointer-events: none;
}
button,
input {
  font-size: 16px;
  padding: 4px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid gray;
}
button {
  cursor: pointer;
  transition: 0.2s;
  background-color: gray;
  color: #fff;
}
button:hover {
  transform: translateY(-1px);
}
button:active {
  transform: translateY(1px);
}
input:hover {
}

.spinner {
  width: 20px;
  height: 20px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;
}
.todo-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.todo-item {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;
  border-radius: 5px;
}
.registration-form,
.login-form {
  width: 50%;
  display: flex;
  flex-direction: column;
}
