.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  font-family: monospace;
  height: 40vmin;
  pointer-events: none;
}
button,
input {
  font-size: 16px;
  padding: 4px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid gray;
}
button {
  cursor: pointer;
  transition: 0.2s;
  background-color: gray;
  color: #fff;
}
button:hover,
.btn-link:hover {
  transform: translateY(-2px);
}
button:active,
.btn-link:active {
  transform: translateY(2px);
}
.btn-link {
}
input:hover {
}

.spinner {
  width: 20px;
  height: 20px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-left-color: #000;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;
  border-radius: 5px;
  padding: 20px;
}
.todo-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.todo-item > main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-item > header {
  border-bottom: 1px solid lightgray;
}
.todo-item > header > button {
  height: 20px;
  width: 20px;
}
.todo-item > header,
.todo-item > footer {
  display: flex;
  justify-content: space-between;
}
.registration-form,
.login-form {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.home-page {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
