.App {
  text-align: center;
}

.App-logo {
  font-family: monospace;
  height: 40vmin;
  pointer-events: none;
}
button,input{
  font-size: 16px;
  padding: 4px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid gray;
}
button{
  cursor: pointer;
}